---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80202,25))?apiKey=qy8vdpfcgsxtfw657mnbu7nc&format=json&pageSize=100&show=longName,city,distance,storeType,phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"from":1,"to":17,"currentPage":1,"total":17,"totalPages":1,"queryTime":"0.031","totalTime":"0.045","partial":false,"canonicalUrl":"/v1/stores(area(\"80202\",25))?show=longName,city,distance,storeType,phone&pageSize=100&format=json&apiKey=qy8vdpfcgsxtfw657mnbu7nc","stores":[{"longName":"Cherry
        Creek Shopping Center","city":"Denver","distance":3.45,"storeType":"Mobile
        SAS","phone":"303-270-9189"},{"longName":"Belmar","city":"Lakewood","distance":5.31,"storeType":"Big
        Box","phone":"303-742-8039"},{"longName":"Colorado Blvd","city":"Denver","distance":5.59,"storeType":"Big
        Box","phone":"303-758-5805"},{"longName":"Denver West","city":"Lakewood","distance":8.39,"storeType":"Big
        Box","phone":"303-273-5617"},{"longName":"Westminster","city":"Westminster","distance":8.52,"storeType":"Big
        Box","phone":"303-426-4434"},{"longName":"Northglenn","city[...]
[...]
